.hg {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 220px 220px auto;
  grid-template-areas: 
    "main rt"
    "main rb"
    "thumbs thumbs";
}

.hg-main { grid-area: main; }
.hg-rt   { grid-area: rt; }
.hg-rb   { grid-area: rb; }

.hg-title {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hg-thumbs {
  grid-area: thumbs;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 1fr);
}

.hg-thumb {
  width: 100%;
  height: 70%;
  display: block;
  object-fit: cover;
  border-radius: 12px;
}

.ha {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "hotelinfosec reservesec";
}

.ha-hotelinfosec { grid-area: hotelinfosec; }
.ha-reservesec   { grid-area: reservesec; }

.ha-tablehead {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px;
}

.hotelnreserveboxsec {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.ha-hoinsecimage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  flex: 0 0 auto;
}

.ct {
  display: flex;
  gap: 10px
}

.ct-left {
  flex: 0 0 30%;
  border: 1px solid;
}

.ct-right {
  flex: 1;
  border: 1px solid;
}

.ct-icons {
  flex: 1;
  border: 1px black;
  border-radius: 2px;
}

.highlights-pill{
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 5px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.2;
  background: #fff;
  margin-right: 2px;
}

.pill-icon{
  width:14px;
  height:14px;
}

.facilities-pill{
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding-left: 3px;
  padding-right: 3px;
  gap: 5px;
}